/* Reset and basic styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.gradient-background {
    background: linear-gradient(to bottom right, #003366, #66ccff); /* Dark blue to light blue gradient */
    height: 100%;
}

.cart-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow for a card-like effect */
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333; /* Dark text color */
    font-size: 28px; /* Increase the font size */
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.btn-nav {
    text-decoration: none;
    color: white;
    background-color: #0056b3;
    padding: 12px 24px; /* Increase button padding */
    border-radius: 5px;
    font-size: 18px; /* Increase button font size */
    display: flex;
    align-items: center;
}

.btn-nav i {
    margin-right: 8px;
}

.btn-nav:hover {
    background-color: #e1e4e8;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse; /* Collapse table borders */
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    border: none; /* Remove all borders from table cells */
}

.btn {
    margin-right: 8px;
    padding: 10px 20px; /* Increase button padding */
    font-size: 16px; /* Increase button font size */
}

.btn-sm {
    padding: 8px 16px; /* Increase small button padding */
    font-size: 14px; /* Increase small button font size */
}


.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #ecf0f1; /* Light text color */
}

.flash-success {
    background-color: #27ae60;
}

.flash-error {
    background-color: #c0392b;
}

.flash-danger {
    background-color: #e74c3c;
}

.flash-warning {
    background-color: #f39c12;
}

.flash-info {
    background-color: #3498db;
}
